html {
  min-height: 100%;
  display: flex;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /* background-image: url("https://i.hurimg.com/i/hdn/75/0x0/5b2b42e95379ff0954f5fc7c.jpg");

  transition: transform 0.2s;*/
  display: flex;
  height: 100%;
  display: flex;
}
/*.zoom {
  width: 100%;
  height: auto;
  transition: transform 0.2s;

  background-repeat: no-repeat;

  background-repeat: no-repeat;

  width: 100%;
}
.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
#bg:hover {
  transform: scale(1.5);
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.8s ease;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.player {
  height: 20vh;
  place-items: left;
  display: flex;
  align-items: center;
  flex-direction: center;

  position: relative;

  width: 300px;
  height: 500px;

  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.details {
  /*display: flex;
  align-items: center;
  flex-direction: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 20rem;
  display: flex;
  justify-content: space-between;

  margin: auto;
  /*margin-top: 79rem;
  */
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(white, 0.85);
  transform: translateY(35px);
  transition: all 0.5s ease-in-out;
}

.track-art {
  display: flex;
  align-items: center;

  margin: 90px;

  width: 250px;

  justify-content: left;
  background-size: cover;
  border-radius: 7%;
}

.now-playing {
  font-size: 1rem;
  justify-content: space-between;
  text-align: center;
}

.track-name {
  font-size: 2rem;
  margin-inline-end: initial;
}
.track-writer {
  font-size: 1rem;
}

.track-artist {
  font-size: 1.5rem;

  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;

  margin: 325px;
  height: 5px;
  width: 120px;
  flex-direction: center;
  justify-content: left;
  background-size: cover;
  border-radius: 7%;
  justify-content: space-between;
  margin-top: 69rem;
}

.playpause-track,
.prev-track,
.next-track,
.shuffle {
  padding: 15px;
  opacity: 0.8;
  margin: 15px 25px;
  align-items: right;
  justify-content: right;

  /* Smoothly transition the opacity */
  transition: opacity 0.2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover,
.shuffle:hover {
  opacity: 1;
}
.slider_container {
  margin: 95px;
  margin-top: 46rem;
  width: 490px;
  position: absolute;
}
.volume_slider_container {
  display: flex;
  align-items: center;
  margin: 42px;
  position: relative;
  width: 450px;
  flex-direction: right;
  margin-top: 51rem;
}

.playpause-track,
.prev-track,
.next-track,
.shuffle {
  padding: 15px;
  opacity: 0.8;
  margin: 15px 25px;
  align-items: right;
  justify-content: right;

  /* Smoothly transition the opacity */
  transition: opacity 0.2s;
}

/* Modify the appearance of the slider */
.seek_slider {
  height: 5px;
  width: 19%;

  background: lighten(dark, 5%);
  border-radius: 10px;

  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
  width: 100px;
  background: black;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  max-width: 100%;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(182, 192, 94);
  cursor: pointer;
  border-radius: 110%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 200%;
}

.volume_slider {
  width: 400%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
i.fas fa-random {
  cursor: pointer;
}
